html {
  background-image: linear-gradient(#000, #000, #000, #802000, orange);
}

.main {
  width: 90%;
  background-image: url("images/myershouse2.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  border: solid 3px orange;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto; 
}

.info {
  width: 90%;
  background-color: #000;
  border: solid 3px orange;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto; 
}


h2 {
  color: orange;
  text-align: center; 
}

h3 {
  color: orange;
}

a {
  text-decoration: none;
  color: orange;
}

a:visited {
  text-decoration: none;
  color: orange;
}

.titletext {
  background-image: url("images/halloweentext.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25%;
  margin-right: auto;
  margin-left: auto; 
  width: 30%;
}

/************* START / REPLAY MENU **************/

.startscreen {
  width: 60%;
  border: solid 3px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  min-height: 50%;
  background-image: url("images/startscreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.startscreenAnimated {
	width: 60%;
	border: solid 2px orange;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 8%;
	margin-bottom: 2%;
	min-height: 50%;
	background-image: url("images/startscreen.gif");
	background-size: cover;
	background-repeat: no-repeat;
} 

.infoScreen {
	width: 60%;
	border: solid 2px orange;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 8%;
	margin-bottom: 2%;
	min-height: 50%;
	background-color: #000;
	color: #FFF;
	padding: 15px;
	overflow: auto;
	min-height: 50%;
	max-height: 50%;
}

.jackobutton {
  background-image: url("images/jackobutton.png");
  background-repeat: no-repeat; 
  background-size: cover;
  width: 40%;
  height: 75px;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 2em; 
  color: orange;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35%;
  margin-bottom: 35%;
}

.jackobutton:hover {
  background-image: url("images/jackobutton.gif");
  background-repeat: no-repeat; 
  background-size: cover;
  border: 2px solid red;
  color: red;
}

.goodEnd {
  width: 60%;
  border: solid 2px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  min-height: 50%;
  max-height: 50%;
  background-image: url("images/endscreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.goodEndAnimated {
  width: 60%;
  border: solid 2px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  min-height: 50%;
  max-height: 50%;
  background-image: url("images/endscreen.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.badEnd {
  width: 60%;
  border: solid 2px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  min-height: 50%;
  max-height: 50%;
  background-image: url("images/badendscreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.badEndAnimated {
  width: 60%;
  border: solid 2px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  min-height: 50%;
  max-height: 50%;
  background-image: url("images/badendscreen.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.results {
	color: orange;
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 5%; 
	margin-left: 5%;
}

/************* QUESTION AREA **************/
.questionBox {
  width: 60%;
  background-color: #000;
  border: solid 2px orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 8%;
  margin-bottom: 2%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.questionarea {
  color: #FFF;
  width: 90%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.answerarea {
  width: 90%;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.answerarea > div {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
	
.selectionFalse {
  width: 100%;
  background-image: linear-gradient(#802000, orange);
  text-align: center;
  font-size: 1.5em;
  color: black;
  height: 100%;
}

.selectionFalse:hover {
  background-image: linear-gradient(#802000, orange);	
  color: white;
}

.selectionTrue {
  width: 100%;
  background-image: linear-gradient(#000, green);
  text-align: center;
  font-size: 1.5em;
  color: white;
  height: 100%;
}

.selectionWrong {
  width: 100%;
  background-image: linear-gradient(#000, red);
  text-align: center;
  font-size: 1.5em;
  color: white;
  height: 100%;
}

.submitA {
	background-image: linear-gradient(#802000, orange);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
	}

.nextQ {
	background-image: linear-gradient(#802000, orange);
	display: block;
	margin-left: auto; 
	margin-right: 5px;
	width: 100px;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
	}

/************* Styles for Mobile **************/
@media screen and (max-width: 900px) {
  .startscreen {
    width: 60%;
	border: solid 3px orange;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto; 	
	margin-top: 8%;
	margin-bottom: 2%;
	min-height: 50%;
	background-image: url("images/startscreen.png");
	background-size: cover;
	background-repeat: no-repeat;
	align-content: center;
  }

  .jackobutton {
	background-image: url("images/jackobutton.png");
	background-repeat: no-repeat; 
	background-size: cover;
	width: 80%; 
	border: 2px solid orange; 
	border-radius: 10px;
	font-size: 2em;
	color: orange;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
  }

  .endscreenAnimated {
    width: 60%;
	border: solid 2px orange;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 8%;
	margin-bottom: 2%;
	min-height: 50%;
	background-image: url("images/endscreen.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
  } 

  .endscreen {
	width: 60%;
	border: solid 2px orange;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 8%;
	margin-bottom: 2%;
	min-height: 50%;
	background-image: url("images/endscreen.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .answerarea {
    width: 90%;
	height: 50 px;
	margin-top: 55px;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: auto;
  }
} 
